body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  background: url("../IMG/FONDO9.jpg") center center/cover fixed; /* Cambiado el background */
  min-height: 100vh;
  display: flex;
  justify-content: center; /* Centra horizontalmente los elementos */
  align-items: center; /* Centra verticalmente los elementos */
  flex-direction: column; /* Alinea los elementos en una columna */
  margin-bottom: 20px;
}

/* Estilos para el botón de regreso */
.back-to-home {
  position: fixed;
  top: 20px;
  left: 20px;
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}
.back-to-home:hover {
  background-color: black; /* Cambia el color de fondo a blanco al pasar el mouse */
  color: white; /* Cambia el color del texto */
}

iframe {
  border: 7px solid black; /* Borde negro y grueso */
  border-radius: 15px; /* Esquinas redondeadas */
  width: 1000px; /* Cambiamos el ancho del iframe para que ocupe todo el contenedor */

  height: 650px; /* Establecemos una altura fija */
  margin-bottom: 10px; /* Añadido margen inferior para separar el mapa de las letras */
}
h1 {
  color: white;
  font-size: 60px;
  text-align: center; /* Centra el texto horizontalmente */
  font-weight: bold; /* Establece el texto en negrita */
  text-shadow: 0 0 10px black; /* Agrega un borde blanco alrededor del texto */

  margin-bottom: 10px;
  padding: 10px;
}

p {
  font-size: 80px;
  color: black; /* Cambiado el color del texto a blanco */
  text-align: center; /* Centra el texto horizontalmente */
  font-weight: bold; /* Establece el texto en negrita */
  text-shadow: 0 0 20px white; /* Agrega un borde blanco alrededor del texto */
  font-size: 15px; /* Establece el tamaño de la fuente */
  border-radius: 15px white;
  margin-bottom: 10px;
  padding: 10px;
  text-align: left; /* Alinea el texto a la izquierda */
}
/* Media query para pantallas más pequeñas */
@media screen and (max-width: 700px) {
  h1,
  h2 {
    color: white;
    font-size: 45px; /* Reducimos el tamaño de la fuente en pantallas más pequeñas */
    margin-bottom: 20px;
    text-shadow: 0 0 20px white; /* Agrega un borde blanco alrededor del texto */
    text-align: center; /* Centra el texto horizontalmente */
  }
}

/* Estilos para los iconos de redes sociales */
.social-icons-container {
  margin-top: 20px; /* Espacio entre el formulario y los iconos */
  text-align: center; /* Centrar los iconos */
}

.social-icon {
  font-size: 3em;
  margin: 0 0.5em; /* Espacio entre los iconos */
  color: white;
}

/* Estilos para los enlaces de redes sociales */
.social-icon:hover {
  color: black;
}

/* Estilos para el botón de regreso */

.back-to-home {
  position: fixed;
  top: 20px;
  left: 20px;
  background-color: hsl(28, 92%, 33%);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s; /* Transición de color de fondo */
}
.back-to-home {
  display: block;
  position: fixed;
  top: 10px; /* Separación desde la parte superior */
  left: 10px; /* Separación desde el lado izquierdo */
  text-decoration: none;
  border-radius: 15px; /* Bordes redondeados */
  background-color: black; /* Color de fondo negro */
  padding: 10px; /* Ajusta el espacio alrededor del enlace */
}

.logo-container {
  text-align: center;
}

.logo-img {
  width: 100px;
  height: auto;
}

.rounded-logo {
  border-radius: 50%; /* Hace que la imagen sea redonda */
  display: block; /* Permite aplicar márgenes y centrado */
  margin: auto; /* Centra la imagen horizontalmente */
  margin-top: 10px; /* Espacio superior para separar la imagen del borde superior */
  height: 170px; /* Permite que la altura se ajuste automáticamente */
}
